<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aaJSfiddle</title>
    <style>
        body {
            font-family: Helvetica, Sans, Arial;
        }

        p, ul {
            padding: 10px;
        }

        ul {
            margin: 5px;
            border: 2px dashed #999;
        }
    </style>
</head>
<body>
<div class='wrapper'>
    <p>JSONP is loaded from different domain</p>
    <ul id='post'></ul>
    <script>
        new Request.JSONP({
            url: 'http://jsfiddle.net/echo/jsonp/',
            data: {
                text: 'some text',
                par1: 'another text'
            },
            onSuccess: function (response) {
                show_response(response, $('post'));
            }
        }).send();

        show_response = function (obj, result) {
            $H(obj).each(function (v, k) {
                new Element('li', {
                    text: k + ': ' + v
                }).inject(result);
            });
            result.highlight();
        };
    </script>
</div>
</body>
</html>