<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RedWood Select Input</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/example.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <table id="example" class="display" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>No</th>
            <th>ID</th>
            <th>Person</th>
            <th>Product</th>
            <th>Order Number</th>
            <th>Price</th>
            <th>Order Date</th>
            <th>User ID</th>
            <th>User Account</th>
            <th>User Email</th>
            <th>User FName</th>
            <th>User LName</th>
            <th>Password</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>No</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
        </tr>
        </tfoot>
    </table>
</div>
</body>
</html>
<script>
    $(document).ready(function () {
        // DataTable
        let table = $('#example').DataTable({

            // Apply the Select Input
            initComplete: function () {
                this.api().columns().every(function () {
                    let column = this;
                    let select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            let val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            },    //  end of Apply Select Input
            
            // Apply the Index column Part I
            "columnDefs": [ {
                "searchable": false,
                "orderable": false,
                "targets": 0
            } ],
            "order": [[ 1, 'asc' ]],    //  end of Apply the Index column Part I
// Data
            "ajax": "../json/redwood_data.json",
            "columns": [
                {"data": "id"},
                {"data": "id"},
                {"data": "person"},
                {"data": "product"},
                {"data": "orderNumber"},
                {"data": "price"},
                {"data": "orderDate"},
                {"data": "user.id"},
                {"data": "user.accountName"},
                {"data": "user.email"},
                {"data": "user.firstName"},
                {"data": "user.lastName"},
                {"data": "user.password"}
            ]
        });

        // Apply the Row selection and deletion (single row)
        $('#example tbody')                                //  <-- + <style> только со стайлом !!!
            .on('mouseenter', 'td', function () {
                let colIdx = table.cell(this).index().column;

                $(table.cells().nodes()).removeClass('highlight');
                $(table.column(colIdx).nodes()).addClass('highlight');
            });     //  end of  Apply the Row selection and deletion (single row)

        // Apply the Index column Part II
        table.on( 'order.dt search.dt', function () {
            table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                cell.innerHTML = i+1;
            } );
        } ).draw();     //  end of Apply the Index column Part II

    });
</script>