<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>a</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1 align="center">Show JSON Data in Jquery Datatables</h1><br/>
    <h3 align="center">Employee Database</h3><br/>
    <table id="example" class="display" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Designation</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Designation</th>
        </tr>
        </tfoot>
    </table>
</div>
</body>
</html>
<script>
    $(document).ready(function () {

        // Setup - add a text input to each footer cell
        $('#example tfoot th').each(function () {
            let title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });

        let table = $('#example').DataTable({
            "ajax": "../json/employee_data.json",
            "columns": [
                {"data": "name"},
                {"data": "gender"},
                {"data": "designation"}
            ]
        });

        // Apply the search
        table.columns().every(function () {
            let that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
</script>