* {
    margin: 0;
    padding: 0;
}

/*html,*/
/*body {*/
    /*height: 100%;*/
/*}*/

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.flex1 {
    flex: 1;
}

body {
    /*font-family: Roboto, sans-serif;*/
    /*background-color: #f7f7f7;*/
}

header {
    /*border-width: 0.14px;*/
    /*border-color: #b5b7ba;*/
    /*border-style: solid;*/
    /*background-color: #dfdfdf;*/
    height: 68px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    padding-right: 3%;
    padding-left: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.index-img img {
    width: 400px;
    margin: 1%;
}

footer {
    /*background-color: #434445;*/
    /*height: 132px;*/
    margin-top: 5%;
    /*color: #a4a4a4;*/
    /*font-size: 20px;*/
    /*font-style: italic;*/
    /*text-align: left;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

td.details-control {
    background: url('../../static/img/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../../static/img/details_close.png') no-repeat center center;
}

td.highlight {
    background-color: whitesmoke !important;
}

a.dt-button.red {
    color: red;
}

a.dt-button.orange {
    color: orange;
}

a.dt-button.green {
    color: green;
}

div.dt-buttons {
    clear: both;
}
